export(alphaIntrinsic)
export(ci2estimate)
export(ci2p)
export(ci2se)
export(ci2t)
export(deltaEB)
export(p2t)
export(pBox)
export(pIntrinsic)
export(powerReplicationSuccess)
export(powerSignificance)
export(powerSignificanceInterim)
export(pReplicate)
export(pSceptical)
export(sampleSizeReplicationSuccess)
export(sampleSizeSignificance)
export(t2p)
export(zSceptical)
importFrom("stats", "dnorm", "pnorm", "qchisq", "qnorm", "uniroot")
